@font-face {
    font-family: BigJohn;
    font-style: normal;
    font-weight: normal;
    src: url('../fontes/BIG JOHN.otf');
}

* {
    margin: 0;
    padding:0;
}

body, html {
    width: 100%;
    font-family: Arial, cursive, sans-serif;
}

.ilu_background {
    background-image: url('../imagens/foguete_fases/rr1.png');
    background-position: 50% 35%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.botao {
    text-align: center;
    color: #fefefe;
    width: 20em;
    padding: 1em;
    background-color: #178eb2;
    border-radius: 3px;
    border: 0px;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.botao:hover {
    background-color: #6abe45;
    cursor: pointer;
}

.caixaTxt {
    border: 1px solid #888;
    border-radius: 3px;
    width: 20em;
    height: 3em;
    background-color: rgba(255, 255, 255, 0.8);;
}

#barraSuperior {
    padding: 0% 10%;
    position: absolute;
    top: 0px;
    width: 80%;
    background-color: #16637D;
    height: 6%;
}

#barraSuperior img {
    float: left;
    height: 60%;
    margin-top: 6px;
}

#barraSuperior .botao {
    margin: 0px;
    float: right;
    margin-top: 6px;
    width: 10em;
    padding: 0.5em;
}
#fundo
{
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;
}

#fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento */
}

#fundo img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    position: absolute;
}

#site {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 93.8%;
    /* margin-left: -180px;  por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site */
    background: #FFF; /* fundo branco para navegadores que não suportam rgba */
    background: rgba(19, 99, 126, 0.4); /* fundo branco com um pouco de transparência padding-left: 200px; */
    text-align: center;
    color: #fdfdfd;
    /* border-radius: 30px; */
}
 
#site p {
    margin-top: 8%;
    margin-bottom: 1.5em;
}

#site a {
    color: #fefefe;
}
 
#site h1 {
    font-family: BigJohn;
}

#barraTimer {
    position: relative;
    margin-top: 2.5%;
    width: 80%;
    padding: 0 10%;
    background-color: #ddd;
}

#resolucao {
    margin: auto;
    margin-top: 30px;
    width: 70%;
}

#enunciado {
    margin-bottom: 20px;
}

#rodapeBotoes {
    text-align: center;
    margin: auto;
}

#area_professor {
    margin: auto;
    margin-top: 6%;
    width: 80%;
    text-align: center;
}

/* -------  ICONES  ------- */

/* - FOGUETE - */
.foguete {
    background-color: #fff;
    background-image: url('../imagens/icones/foguete1.png');
}

.foguete:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/foguete2.png');
}

.foguete_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/foguete3.png');
}

/* - COROA - */
.joystick {
    background-color: #fff;
    background-image: url('../imagens/icones/joys1.png');
}

.joystick:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/joys2.png');
}

.joystick_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/joys3.png');
}

/* - ESTRELA - */
.estrela {
    background-color: #fff;
    background-image: url('../imagens/icones/estrel1.png');
}

.estrela:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/estrel2.png');
}

.estrela_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/estrel3.png');
}

/* - ESTATISTICA - */
.estatistica {
    background-color: #fff;
    background-image: url('../imagens/icones/esta1.png');
}

.estatistica:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/esta2.png');
}

.estatistica_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/esta3.png');
}

/* - COROA - */
.coroa {
    background-color: #fff;
    background-image: url('../imagens/icones/coroa1.png');
}

.coroa:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/coroa2.png');
}

.coroa_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/coroa3.png');
}

/* - CHAPEU - */
.chapeu {
    background-color: #fff;
    background-image: url('../imagens/icones/beca1.png');
}

.chapeu:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/beca2.png');
}

.chapeu_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/beca3.png');
}

/* - FISICA - */
.icone_fisica {
    background-color: #fff;
    background-image: url('../imagens/icones/ima1.png');
}

.icone_fisica:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/ima2.png');
}

.icone_fisica_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/ima3.png');
}

/* - MATEMATICA - */
.icone_matematica {
    background-color: #fff;
    background-image: url('../imagens/icones/calc1.png');
}

.icone_matematica:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/calc2.png');
}

.icone_matematica_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/calc3.png');
}

/* - Geografica - */
.icone_geografia {
    background-color: #fff;
    background-image: url('../imagens/icones/globo1.png');
}

.icone_geografia:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/globo2.png');
}

.icone_geografia_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/globo3.png');
}

/* - Historia - */
.icone_historia {
    background-color: #fff;
    background-image: url('../imagens/icones/ampu1.png');
}

.icone_historia:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/ampu2.png');
}

.icone_historia_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/ampu3.png');
}

/* - Portugues - */
.icone_portugues {
    background-color: #fff;
    background-image: url('../imagens/icones/abc1.png');
}

.icone_portugues:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/abc2.png');
}

.icone_portugues_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/abc3.png');
}

/* - Quimica - */
.icone_quimica {
    background-color: #fff;
    background-image: url('../imagens/icones/garrafa1.png');
}

.icone_quimica:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/garrafa2.png');
}

.icone_quimica_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/garrafa3.png');
}

/* - Biologia - */
.icone_biologia {
    background-color: #fff;
    background-image: url('../imagens/icones/dna1.png');
}

.icone_biologia:hover {
    background-color: #fff;
    background-image: url('../imagens/icones/dna2.png');
}

.icone_biologia_selecionado {
    background-color: #fff;
    background-image: url('../imagens/icones/dna3.png');
}


/* ----- FIM DOS ICONES ----- */

.tooltips {
  position: relative;
  display: inline;
}
.tooltips span {
  position: absolute;
  width: 100px;
  color: #FFFFFF;
  background: #61605E;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #61605E;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tooltips:hover span {
  visibility: visible;
  opacity: 0.8;
  top: 100%;
  left: 50%;
  margin-left: -45px;
  z-index: 999;
}
