#barraTimer .botao {
  width: 9em;
  padding: 5px;
}

#rodapeBotoes .botao {
  width: 9em;
  padding: 5px;
}

#resolucao {
  text-align: center;
}

#resolucao p {
  margin-bottom: 20px;
}

#enunciado, #alternativas {
  text-align: justify;
}

#numeroQuestao {
  text-align: center;
  width: 80px;
  padding: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 30%;
}

#tempo {
  position: absolute;
  right: 10%;
  top: 35%;
}

.alternativa {
  position: relative;
  display: table;
  height: 20px;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.6em;
}

.texto_alternativa {
  padding: 5 35px;
}

.alternativa input[type="radio"] {
    opacity:0;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.alternativa input[type="radio"] + label{
    font-weight: bold;
    background-color: #eef0ef;
    border: 3px solid #bdbdbd;
    border-radius: 30px;
    height: 18px;
    width: 20px;
    display:inline-block;
    padding: 2 0 0 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    color: #bdbdbd;
}

.alternativa input[type="radio"]:checked + label {
    border-color: #6bbc43;
    color:  #6bbc43;
}

/* ----- FIM DOS RADIOS ----- */
